<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Estr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12BB7FA31BEE9FBE00674C5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12BB7FB71BEE9FBF00674C5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12BB7FC21BEE9FBF00674C5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
